# Created by .ignore support plugin (hsz.mobi)
.gitignore
.idea/

# Byte-compiled / optimized / DLL files
Bridge model opensees/__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Sphinx documentation
docs/source/_static/
docs/source/_templates/

# Spyder project settings
.spyderproject
.spyproject

# Future pytest cache perhaps
# .pytest_cache/

# Some older development files
# - maybe JN can just remove from his folder as others won't have these?
Bridge model opensees/CSV.csv
Bridge model opensees/Data transfer and downloader/
Bridge model opensees/Example Bridge CSV generator.py
Bridge model opensees/README.txt
Bridge model opensees/SN3595 Node.xlsx
Bridge model opensees/SN3595 simple grillage.xlsx
Bridge model opensees/runrun.py
Bridge model opensees/testbridge_ODB/
Bridge model opensees/~$Benchmark bridge.xlsx
Bridge model opensees/~$SN3595 Node.xlsx
/keymaps/
/Bridge model opensees/Disp.txt
/Bridge model opensees/ReactionPY.txt
/Vehicle.py
/Analysis.py
/Past version of analysis generation py files/
__pycache__/
